{{!-- explain app --}}

  <div class="row">

    <div class="col-sm-7" style="background-color:white; border-radius: 25px;">
    	<h1>Welcome</h1>
        Welcome to Rucha, a simple chat app. 

        On the right-hand sidebar, you can view all active rooms that have been created, click the button for that room
        to join it.  if you don't see a room you wish to join, feel free to create your own using the field below the room list. Clicking on "Rucha" at the top of your screen will bring you back to this page.

    <div class="row">
        <div class="col-sm-12">
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 home-sidebar" style="background-color:white;">
    	<h3>Active Rooms</h3>
        <div id="room-div">
          {{#each chatroom_data}}
          <center>
            <form action="/chatroom/join?_method=PUT" method="POST">
              <div class="input-group">
              <input type="hidden" name="chatroomID" value= {{this.id}}>
              <input type="hidden" name="chatroom_name" value= {{this.chatroom_name}}>
              <span class="input-group-btn">
                <button class="btn btn-danger join-button" type="submit">{{this.chatroom_name}}</button>
              </span>
              </div>
            </form>
            <br>
          </center>
          {{/each}}
        </div>
      <div class="row">
        <div class="col-sm-12 home-sidebar-footer" style="background-color:white;">
          <h3>Create Room</h3>
            <form action="/chatroom/create" method="POST">
                <center><label for="newchatroom">Chatroom Name</label></center>
                <textarea class="form-control" name="chatroom_name"></textarea>
          
                 <center>
                    <button id="submit-button2" type="submit" class="btn btn-danger">Make New Room</button>
                </center>
            </form>
        </div>
      </div>
    </div>
</div>
