<form action="" method="POST">

<div class="form-group">

<center>
  <button id="submit-button" type="submit" class="btn btn-danger">Radio</button>
</center>

</div>

</form>


<form action="" method="POST">

<div class="form-group">

<center>
  <button id="submit-button" type="submit" class="btn btn-danger">Print</button>
</center>

</div>

</form>

<form action="" method="POST">

<center>
  <button id="submit-button" type="submit" class="btn btn-danger">Television</button>
</center>

</div>

</form>