

<ul id="messages"></ul>
    <span id="notifyUser"></span>
    <div class="navbar-fixed-bottom" id="form" >
    <form id="text-submit" action="" onsubmit="return submitfunction();" > 
      <input type="hidden" id="user" value="" /><input id="msgbox" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type yor message here.." /><input type="submit" id="button" value="Send"/> 
    </form>
   	</div>