<form action="/user/login" method="POST">

<div class="form-group">
  
  <center><label for="user_name">Username</label></center>
  <textarea class="form-control" name="user_name"></textarea>
	<br>
  <center><label for="user_password">Password</label></center>
  <textarea class="form-control" name="user_password"></textarea>

<center>
  <button id="submit-button" type="submit" class="btn btn-danger">Login</button>
</center>

</div>


</form>

<form action="/register" method="GET">

		<center>
		  <button id="submit-button" type="submit" class="btn btn-danger" >Register</button>
		</center>

	</form>
</div>