<form action="/user/create" method="POST">
<div class="login-container">
	<div class="form-group">
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">@</span>
		  
		  		<input type="text" class="form-control" name="user_name" placeholder="Username" aria-describedby="basic-addon1">
			</div>
			<br>
		  <div class="input-group">
		  		<span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
		  
		  		<input type="text" class="form-control" name="user_password" placeholder="Password" aria-describedby="basic-addon1">
			</div>
		<br>
	</div>


	<center>
	  <button id="submit-button" type="submit" class="btn btn-danger">Create Account</button>
	</center>

	</form>
</div>