<form action="/user/create" method="POST">

<div class="form-group">
  <center><label for="user_name">Username</label></center>
  <textarea class="form-control" name="user_name"></textarea>
</div>

<div class="form-group">
  <center><label for="user_password">Password</label></center>
  <textarea class="form-control" name="user_password"></textarea>
</div>


<center>
  <button id="submit-button" type="submit" class="btn btn-danger">Create Account</button>
</center>

</form>