#message-div { font: 13px Helvetica, Arial; background-color: black;border-radius: 25px; height: 100%; }
body {background-color: #DC143C;}
.form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }

form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form #button { color:#FFF; background: #2D9F0B; border: none; padding: 10px;  width: 9%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { margin: 10px; padding: 5px 10px; background: white; border-radius: 25px}
#messages li:nth-child(odd) { background: #D3D3D3; border-radius: 25px}
#notifyUser { position: fixed; bottom: 42px; width: 100%; }
.home-sidebar, .home-sidebar-footer{border-radius: 25px;}
#room-header {color: white;}
.login-container {background-color: white; border-radius: 25px; padding: 25px;}