
<script src="../demo/javascript/dist/webim.config.js"></script>
<script src="./dist/strophe-1.2.8.min.js"></script>
<script src="./dist/websdk-1.4.6.js"></script>


<script src="../webrtc/dist/webrtc-1.4.6.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class= "container">

<form class="get-user" action="/hyphenate/user/userid" method="POST"
value={{this.data}}>
 <center> <div class="form-group">
    <label for="user"> </label>
    <input type="text" id="userdata" name="userdata">
    <button type="submit">Add user</button>
  </div>
</form> </center>

<form class="create-user" action="/hyphenate/create" method="post"
value={{this.id}}>
 <center> <div class="form-group">
    <label for="create"> </label>
    <input type="text" id="userid" name="userid">
    <input type="text" id="password" name="password">

    <button type="submit">create user</button>
  </div>
</form> </center>

<form class="create-user" action="/hyphenate/createchatroom" method="post"
value={{this.data}}>
 <center> <div class="form-group">
    <label for="create"> </label>
    <input type="text" id="chatRoomName" name="chatRoomName">
    <input type="text" id="description" name="description">
    <input type=Integer id="maxUsers" name="maxUsers">
    <input type="text" id="roomOwner" name="roomOwner">
    <input type="text" id="members" name="members">
    <button type="submit">chatroom</button>
  </div>
</form> </center>

<form class="getChatRoomJoined" action="/hyphenate/getChatRoomJoined" method="post"
value={{this.data}}>
 <center> <div class="form-group">
    <label for="create"> </label>
    <input type="text" id="userid" name="userid">
    <button type="submit">ChatRoomJoined</button>
  </div>
</form> </center>

<form class="getChatMessages" action="/hyphenate/getChatMessages" method="post"
value={{this.data}}>
 <center> <div class="form-group">
    <label for="create"> </label>
    <input type="text" id="ql" name="ql">
    <input type="text" id="limit" name="limit">
    <input type="text" id="curser" name="curser">
    <button type="submit">ChatMessages</button>
  </div>
</form> </center>


<form class="getChatRooms" action="/hyphenate/getChatRooms" method="post"
value={{this.data}}>
 <center> <div class="form-group">
    <label for="create"> </label>
    <input type="text" id="chatRoomName" name="chatRoomName">
    <input type="text" id="description" name="description">
    <input type=Integer id="maxUsers" name="maxUsers">
    <input type="text" id="roomOwner" name="roomOwner">
    <input type="text" id="members" name="members">
    <button type="submit">getChatRooms</button>
  </div>
</form> </center>







<!-- var rtcCall = new WebIM.WebRTC.Call({
    connection: conn,
    mediaStreamConstaints: {
            audio: true,
            video: true
    },

    listener: {
        onAcceptCall: function (from, options) {
        console.log('onAcceptCall::', 'from: ', from, 'options: ', options);
        },
        onGotRemoteStream: function (stream) {
            console.log('onGotRemoteStream::', 'stream: ', stream);
        var video = document.getElementById('video');
        video.src = window.URL.createObjectURL(stream);
        },
        onGotLocalStream: function (stream) {
            console.log('onGotLocalStream::', 'stream:', stream);
            var video = document.getElementById('localVideo');
            video.src = window.URL.createObjectURL(stream);
        },
        onRinging: function (caller) {
            console.log('onRinging::', 'caller:', caller);
        },
        onTermCall: function (reason) {
            console.log('onTermCall::');
            console.log('reason:', reason);
        },
        onIceConnectionStateChange: function (iceState) {
            console.log('onIceConnectionStateChange::', 'iceState:', iceState);
        },
        onError: function (e) {
            console.log(e);
        }
     }
});




</div>




 -->




































<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
 </div>

























  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vertical (basic) form</h2>
  <form action="/user/createUser"> method="post"
    <div class="createUser">
      <label for="email">Email:</label>
      <input type="username" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<form class="create-update-form" action="/burgers/create" method="POST"
value={{this.data}}>
 <center> <div class="form-group">
    <label for="burger"> </label>
    <input type="text" id="add" name="burger_name">
    <button type="submit">Add User</button>
  </div>
</form> </center>



<input type="button" id="1" class="btn btn-info" value="video utton">
<input type="button" id ="2" class="btn btn-info" value="chat Button">
<input type="button" id ="3" class="btn btn-info" value="audio Button">

<input type="submit" class="btn btn-info" value="Submit Button">
</body>
</html>
 -->